@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Genjyuu";
  src: url("https://cdn.jsdelivr.net/gh/nanikit/beatsaber-overlay@37c5a2eff2cc6f3e5a8786565b48dfa9e0b9ca8f/public/GenJyuuGothicX.woff2") format("woff2");
}

body {
  font-family: Genjyuu, sans-serif;
  user-select: none;
}

.center-icon path:first-child {
  display: none;
}

@layer utilities {
}
