@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Maplestory";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
}

body {
  font-family: Maplestory, Pretendard, sans-serif;
  user-select: none;
}

@layer utilities {
}
